In [4]:
import pandas as pd
import numpy as np

## SUPERMARKET DATA VISUALIZATIONS

In [5]:
df = pd.read_csv('supermarket.csv')

In [7]:
df.head()

   store_id  store_area  items_available  daily_customer_count  store_sales
0         1        1659             1961                   530        66490
1         2        1461             1752                   210        39820
2         3        1340             1609                   720        54010
3         4        1451             1748                   620        53730
4         5        1770             2111                   450        46620

In [ ]:
# Total Sales